<h1>Submissions</h1>
<table class='table'>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Assignment Title</th>
      <th>Go to Submission</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.user.name %></td>
        <td><%= submission.assignment.title %></td>
        <td><%= link_to 'See Translation', translation_path(submission.id), :assignment_id => @assignment.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

